.env
bulma.min.css
.idea/CodeChallenge.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
__pycache__/a.cpython-312.pyc
__pycache__/collect_games.cpython-312.pyc
__pycache__/N.cpython-312-pytest-7.4.4.pyc
__pycache__/stat_calc.cpython-312.pyc
__pycache__/utils.cpython-312.pyc
